{% extends "layout.html" %}
{% block content %}
<form class="form" action="/pokemon" method="POST">
            
    <h1>Welcome to the PoKedex</h1>
    Pokemon by Index <br/>
    <input type="number" name="numero" class="form-control index" placeholder="Enter an index">
    <br/>
    <hr>
    Pokemon by Type <br/>
    <select name="typ" id="" class="form-control type">
        <option value="" selected class="disabled">Select a specific type</option>
        {% for type in types:%}
        <option value={{ type }}>{{ type }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-outline-success btn-block ">Submit</button>
    <script>
    let index = document.querySelector(".index")
    let type = document.querySelector(".type")

    index.addEventListener("input", ()=>{
      type.value = ""
    })
    type.addEventListener('input', ()=>{
      index.value = ""
    })
  </script>
</form>

{% endblock %}

