{% extends "layout.html" %}
{% block content %}
{% if index=='true' %}
    <div class="card">
			
	<img class="card-img-top" src="{{img}}" alt="{{data["Name"]}} image">
	
	<div class="card-body">
		<h1 class="card-title">{{data["Name"] | french | capitalize}}</h1> <span class="badge rounded-pill text-bg-light"><i class="bi bi-hammer"></i>434</span><span class="badge rounded-pill text-bg-light"><i class="bi bi-shield"></i>513</span>
		
		<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#Bulbasaur">See stats</button>

		<div id="Bulbasaur" class="collapse">
			
				<p class="card-text"><strong>number:</strong> {{data["Number"]}}</p>
			
				<p class="card-text"><strong>name:</strong> {{data["Name"] | french | capitalize  }}</p>
			
				<p class="card-text"><strong>type1:</strong> {{data["Type_1"]}} </p>
			
				<p class="card-text"><strong>generation:</strong> {{data["Generation"]}} </p>
			
				<p class="card-text"><strong>attack:</strong> {{data["Attack"]}} </p>
			
				<p class="card-text"><strong>defense:</strong>{{data["Defense"]}} </p>
			
				<p class="card-text"><strong>sp_atk:</strong> {{data["Sp_Atk"]}} </p>
			
				<p class="card-text"><strong>sp_def:</strong> {{data["Sp_Def"]}} </p>
			
				<p class="card-text"><strong>speed:</strong> {{data["Speed"]}} </p>
			
				<p class="card-text"><strong>hp:</strong> {{data["HP"]}} </p>
			
		</div>

	</div>
</div>
{% endif %}
{% if type=='true' %}
<div class="row row-cols-4">			
	{% for data in liste %}
    	<div class="card col-md-3 m-2">			
			<img class="card-img-top" src="{{data['url']}}" alt="{{data["Name"]}} image">	
			<div class="card-body">
				<h1 class="card-title">{{data["Name"]}}</h1> <span class="badge rounded-pill text-bg-light"><i class="bi bi-hammer"></i>434</span><span class="badge rounded-pill text-bg-light"><i class="bi bi-shield"></i>513</span>
				<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#{{data["Number"]}}">See stats</button>
				<div id="{{data["Number"]}}" class="collapse">			
					<p class="card-text"><strong>number:</strong> {{data["Number"]}}</p>
					<p class="card-text"><strong>name:</strong> {{data["Name"]}}</p>			
					<p class="card-text"><strong>type1:</strong> {{data["Type_1"]}} </p>			
					<p class="card-text"><strong>type2:</strong> {{data["Type_2"]}} </p>			
					<p class="card-text"><strong>generation:</strong> {{data["Generation"]}} </p>			
					<p class="card-text"><strong>attack:</strong> {{data["Attack"]}} </p>			
					<p class="card-text"><strong>defense:</strong>{{data["Defense"]}} </p>			
					<p class="card-text"><strong>sp_atk:</strong> {{data["Sp_Atk"]}} </p>			
					<p class="card-text"><strong>sp_def:</strong> {{data["Sp_Def"]}} </p>			
					<p class="card-text"><strong>speed:</strong> {{data["Speed"]}} </p>			
					<p class="card-text"><strong>hp:</strong> {{data["HP"]}} </p>		
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endif %}
{% endblock %}
